/* ==========================================================================
   Plum skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #222522 !default;
$primary-color: #496b61 !default;

$border-color: #e7e9e7 !default;
$code-background-color: #f6f7f6;
$code-background-color-dark: #f0f2f0 !default;

$mark-highlight-color: rgba($primary-color, 0.15) !default;
$block-quote-background-color: rgba($primary-color, 0.1) !default;
$form-background-color: #ffffff !default;
$footer-background-color: #f7f8f7 !default;
$link-color: $primary-color !default;

$link-color-hover: #315149 !default;
$link-color-visited: #496b61 !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 70%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 80%) !default;

$active-color: mix($primary-color, $background-color, 5%) !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $text-color !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* plum syntax highlighting (base16) */
$base00: #ffffff !default;
$base01: #e0e0e0 !default;
$base02: #d0d0d0 !default;
$base03: #b0b0b0 !default;
$base04: #000000 !default;
$base05: #101010 !default;
$base06: #151515 !default;
$base07: #202020 !default;
$base08: #ff0086 !default;
$base09: #fd8900 !default;
$base0a: #aba800 !default;
$base0b: #00c918 !default;
$base0c: #1faaaa !default;
$base0d: #3777e6 !default;
$base0e: #ad00a1 !default;
$base0f: #cc6633 !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.page__content {
  a,
  a:visited {
    color: $link-color;
  }
}

/* next/previous buttons */
.pagination--pager {
  color: #616761;
  background-color: transparent;
  border-color: $border-color;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
